@font-face {
  font-family: "Anton";
  src: URL("./assets/anton.ttf") format("truetype");
}

:root {
  --primaryColor: #ba3b0a;
  --secondaryColor: #e8772e;
  --accentColor: #e8772e;
  --backgroundColor: #ffbe79;
  --linkActiveColor: #535bf2;

  font-family: Anton, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--primaryColor);
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--primaryColor);
}
a:hover {
  color: var(--secondaryColor);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1024px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accentColor);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
